swagger: '2.0'
info:
  description: NCP-Front Restful API Documentation
  version: '1.0'
  title: NHN Commerce Platform
  termsOfService: Terms of service
  contact:
    name: nhnent
    url: www.nhnent.com
    email: youngjin.kim@nhnent.com
  license:
    name: Copyright 2017 NHN Entertainment. All rights Reserved.
    url: 'http://www.nhnent.com'
host: alpha-api.e-ncp.com
basePath: /
tags:
  - name: '[Common] > Addresses'
    description: 주소
  - name: '[Common] > FileUpload'
    description: 파일업로드
  - name: '[Coupon]'
    description: 쿠폰
  - name: '[Display]'
    description: 전시
  - name: '[Guest] > Order'
    description: 비회원 주문
  - name: '[Order] > Cart'
    description: 장바구니
  - name: '[Order] > OrderSheet'
    description: 주문서
  - name: '[Order] > payments'
    description: 결제
  - name: '[Product]'
    description: 상품
  - name: '[Product] > Inquiry'
    description: 상품 문의
  - name: '[Product] > Review'
    description: 상품평
  - name: '[Profile]'
    description: 회원
  - name: '[Profile] > Accumulation'
    description: 적립금
  - name: '[Profile] > Authentication'
    description: 인증
  - name: '[Profile] > Inquiry'
    description: '1:1문의'
  - name: '[Profile] > KCPCertification'
    description: KCP 본인인증
  - name: '[Profile] > Like-products'
    description: 좋아요
  - name: '[Profile] > MyOrder'
    description: 마이페이지 - 주문
  - name: '[Profile] > Recent-products'
    description: 최근 상품
  - name: '[Profile] > Shipping Addresses'
    description: 회원 배송지
  - name: haekhyu.cho service
    description: NCP Front Apis
schemes:
  - http
  - https
paths:
  /addresses/search:
    get:
      tags:
        - '[Common] > Addresses'
      summary: 주소 검색
      description: 주소를 검색한다.
      operationId: getAddressesUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: keyword
          in: query
          description: keyword
          required: true
          type: string
          default: 삼평동
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AddressesResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /authentications/email:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: e메일로 전달받은 인증코드 확인
      description: e메일로 전달받은 인증코드 확인
      operationId: isEmailAuthenticationCodeTrustedUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: memberId
          in: query
          description: 확인하려는 회원 아이디
          required: false
          type: string
        - name: certificatedNumber
          in: query
          description: 인증번호
          required: false
          type: string
        - name: usage
          in: query
          description: usage
          required: true
          type: string
          enum:
            - FIND_ID
            - FIND_PASSWORD
            - RELEASE_DORMANT
            - ADMIN
            - JOIN
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BooleanResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Profile] > Authentication'
      summary: e메일로 인증번호 발송
      description: e메일로 인증번호 발송
      operationId: sendAuthenticationCodeToEmailUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/EmailCertificationPostRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RemainTimeResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /authentications/sms:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: SMS 인증번호 확인
      description: SMS 인증번호 확인
      operationId: checkSmsAuthAdminUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: mobileNo
          in: query
          description: mobileNo
          required: true
          type: string
        - name: key
          in: query
          description: key
          required: true
          type: string
        - name: usage
          in: query
          description: usage
          required: true
          type: string
          enum:
            - FIND_ID
            - FIND_PASSWORD
            - CHANGE_MOBILE_NO
            - RELEASE_DORMANT
            - ADMIN
            - JOIN
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResultResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Profile] > Authentication'
      summary: 점유인증 코드 SMS 발송
      description: 휴대폰 점유 인증을 위해 인증코드(6자리) SMS 발송
      operationId: sendSmsAuthUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/SmsCertificationPostRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RemainTimeResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Profile] > Authentication'
      summary: SMS 인증 시간 재설정
      description: SMS 인증 시간 재설정 - 재 발송으로 가이드
      operationId: extendSmsAuthAdminUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/SmsCertificationExtendRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
      deprecated: true
  /captcha:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: 자동입력 방지 문자 조회
      description: 자동입력 방지 문자 를 조회합니다 조회시마다 리셋됩니다.
      operationId: getCaptchaUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CaptchaResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart:
    get:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 목록 가져오기
      description: 로그인된 유저의 장바구니 목록을목록을 가져옵니다.
      operationId: getCartsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CartResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 등록
      description: 장바구니에 새로운 상품을 등록합니다.
      operationId: addCartUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - in: body
          name: carts
          description: carts
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CartItemRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CountResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    put:
      tags:
        - '[Order] > Cart'
      summary: '장바구니 수량, 사용자입력형 옵션 수정'
      description: |-
        로그인된 유저의 장바구니의 상품 중 상품 구매 수량과 사용자 입력형 옵션을 수정합니다.
        옵션 종류는 변경할 수 없습니다.
        옵션변경은 변경할 옵션을 삭제한 후 신규등록하는 방법으로 수정합니다
      operationId: modifyCartUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - in: body
          name: carts
          description: carts
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CartItemRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 삭제
      description: 장바구니 목록으로 확인할 수 있는 장바구니에서 삭제할 장바구니의 cartNo를 List형으로 전달해 주세요.
      operationId: deleteCartUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: cartNo
          in: query
          description: 삭제할 장바구니 번호
          required: true
          type: array
          items:
            type: integer
            format: int32
          collectionFormat: multi
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CountResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart/count:
    get:
      tags:
        - '[Order] > Cart'
      summary: 등록된 장바구니 갯수 가져오기
      description: 로그인된 유저의 장바구니 갯수를 가져옵니다.
      operationId: getCartCountUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CountResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /cart/validate:
    get:
      tags:
        - '[Order] > Cart'
      summary: 장바구니 저장 상품 유효성 체크
      description: 장바구니에 저장된 상품이 모두 유효한지 확인합니다.
      operationId: validateUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BooleanResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /categories:
    get:
      tags:
        - '[Product]'
      summary: 전체 카테고리 조회
      description: '2가지 카테고리를 제공(계층, 원본) 합니다.<br/>'
      operationId: getProductUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CategoryResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/categories/{categoryNo}':
    get:
      tags:
        - '[Product]'
      summary: 카테고리 조회
      description: '카테고리 번호로 카테고리를 조회<br/> 2가지형태의 카테고리를 제공(계층, 원본) 합니다.'
      operationId: getCategoriesByCategoryNoUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: categoryNo
          in: path
          description: 카테고리 번호
          required: false
          type: integer
          default: 14414
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CategoryResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /coupons:
    get:
      tags:
        - '[Coupon]'
      summary: 내 쿠폰 가져오기(마이페이지)
      operationId: getMyCouponsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: usable
          in: query
          description: 사용가능여부
          required: true
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MyCouponsApiResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/products/{productNo}/issuable/coupons':
    get:
      tags:
        - '[Coupon]'
      summary: 다운로드 가능한 쿠폰 가져오기(상품페이지)
      operationId: getIssuableCouponsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: productNo
          in: path
          description: 몰 상품 번호
          required: true
          type: integer
          default: 100398947
          format: int32
        - name: couponTargetTypes
          in: query
          description: 상품쿠폰의 쿠폰대상 타입(특정상품 - PRODUCT/브랜드 - BRAND/카테고리-CATEGORY/파트너사-PARTNER
          required: false
          type: array
          items:
            type: string
            enum:
              - ALL_PRODUCT
              - PRODUCT
              - BRAND
              - CATEGORY
              - PARTNER
              - EVENT
          collectionFormat: multi
          enum:
            - ALL_PRODUCT
            - PRODUCT
            - BRAND
            - CATEGORY
            - PARTNER
            - EVENT
        - name: clientId
          in: header
          description: clientId
          required: false
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/IssuableCouponResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/register-code/{promotionCode}':
    post:
      tags:
        - '[Coupon]'
      summary: 쿠폰코드로 쿠폰 발급
      operationId: registerCouponCodeUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: promotionCode
          in: path
          description: promotionCode
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 실패
          schema:
            type: string
            enum:
              - MEMBER_DUPLICATED
              - MEMBER_ID_DUPLICATED
              - MEMBER_MOBILE_DUPLICATED
              - MEMBER_EMAIL_DUPLICATED
              - NEED_CERT_BEFORE_JOIN
              - ALREADY_CERTIFIED_MEMBER
              - CI_IS_NOT_VALUED
              - THE_MEMBER_IS_NOT_UNIQUE
              - CLIENT_ID_IS_EMPTY
              - ACCESS_TOKEN_IS_EMPTY
              - REQUEST_NEED_AUTHENTICATED
              - ACCESS_TOKEN_AUTHENTICATED_FAIL
              - MEMBER_AUTHENTICATED_FAIL
              - CLIENT_ID_IS_NOT_VALUED
              - MEMBER_IS_EMPTY
              - USERNAME_PASSWORD_IS_REQUIRED
              - PASSWORD_IS_NOT_VALID
              - DORMANT_MEMBER
              - ISSUE_ACCESS_TOKEN_FAIL
              - MEMBER_STATUS_IS_WATING
              - MEMBER_STATUS_IS_LOCKED
              - MEMBER_STATUS_IS_PAUSED
              - MEMBER_STATUS_IS_BLOCKED
              - MEMBER_IS_NOT_MALL_MEMBER
              - MEMBER_HAS_NOT_MOBILE_NO
              - MEMBER_HAS_NOT_EMAIL
              - PROVIDER_IS_NOT_VALUED
              - MEMBER_STATUS_IS_NOT_VALUED
              - CODE_OR_ACCES_TOKEN_REQUIRED
              - MEMBERNAME_IS_EMPTY
              - NICKNAME_IS_EMPTY
              - EMAIL_IS_EMPTY
              - BIRTHDAY_IS_EMPTY
              - SEX_IS_EMPTY
              - ADDRESS_IS_EMPTY
              - CI_IS_EMPTY
              - CERTIFICATED_NUMBER_IS_EMPTY
              - MOBILE_NO_IS_EMPTY
              - MEMBER_STATUS_NOT_EXPELLED
              - MEMBER_STATUS_NOT_FREEZE
              - PAYCO_MEMBER_REMOVE_PROVISION_FAIL
              - PAYCO_MEMBER_SET_PROVISION_FAIL
              - PAYCO_MEMBER_REMOVE_SERVICE_OFFER_FAIL
              - PAYCO_MEMBER_SET_SERVICE_OFFER_FAIL
              - REQUEST_ERROR
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/coupons/{couponNo}/download':
    post:
      tags:
        - '[Coupon]'
      summary: downloadCoupon
      operationId: downloadCouponUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: couponNo
          in: path
          description: 쿠폰 번호
          required: true
          type: integer
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CouponIssueResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/banners/{bannerSectionCodes}':
    get:
      tags:
        - '[Display]'
      summary: 배너목록 조회
      description: '{bannerSectionCodes}는 NCP 어드민에서 입력한 섹션 코드 번호'
      operationId: getBannerSectionsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: bannerSectionCodes
          in: path
          description: '조회할 배너 섹션 번호(,로 구분한 배열)'
          required: false
          type: string
          default: '000,001'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BannerSectionResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /display/brands:
    get:
      tags:
        - '[Display]'
      summary: 브랜드 목록 조회
      description: 브랜드 목록 조회 with paging
      operationId: getBrandsUsingGET_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: filter.name
          in: query
          description: 검색할 브랜드명
          required: false
          type: string
        - name: filter.categoryNo
          in: query
          description: 검색할 카테고리 번호
          required: false
          type: integer
          format: int32
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BrandsResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/brands/{brandNo}':
    get:
      tags:
        - '[Display]'
      summary: 브랜드 상세
      description: 브랜드 상세 조회<br/>브랜드에 속한 카테고리 번호 포함
      operationId: getBrandsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: brandNo
          in: path
          description: 브랜드 번호
          required: false
          type: integer
          default: 497
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BrandDetailResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/events/{eventNo}':
    get:
      tags:
        - '[Display]'
      summary: 기획전 조회
      description: '{eventNo}는 NCP 어드민에서 등록된 x 사용'
      operationId: getEventUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: eventNo
          in: path
          description: 이벤트 번호
          required: false
          type: integer
          default: 73
          format: int32
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EventResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /display/popups:
    get:
      tags:
        - '[Display]'
      summary: 전체 팝업 목록 조회
      operationId: getPopupsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PopupResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/popups/{popupNos}':
    get:
      tags:
        - '[Display]'
      summary: 팝업 목록 조회
      description: '{popupNos}는 NCP 어드민에서 등록된 팝업 번호입니다.'
      operationId: getPopupsByPopupNosUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: popupNos
          in: path
          description: '조회할 팝업 번호(,로 구분한 배열)'
          required: false
          type: string
          default: '23'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PopupResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/display/sections/{sectionNos}':
    get:
      tags:
        - '[Display]'
      summary: 상품 섹션 조회
      description: '{sectionNos}는 NCP 어드민에서 입력한 상품 섹션 번호'
      operationId: getBannerSectionsUsingGET_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: sectionNos
          in: path
          description: '조회할 상품 섹션 번호(,로 구분한 배열)'
          required: false
          type: string
          default: '1,2'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SectionResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /files:
    get:
      tags:
        - '[Common] > FileUpload'
      summary: download
      operationId: downloadUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: fileName
          in: query
          description: fileName
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
      deprecated: true
    post:
      tags:
        - '[Common] > FileUpload'
      summary: 파일업로드
      description: ObjectStorage에 파일을 업로드함
      operationId: uploadUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
        - name: file
          in: formData
          required: true
          type: ref
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FileUploadResult'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - '[Common] > FileUpload'
      summary: 파일삭제
      description: ObjectStorage의 파일을 삭제함
      operationId: deleteUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: fileName
          in: query
          description: fileName
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /guest/cart:
    post:
      tags:
        - '[Guest] > Order'
      summary: 게스트 장바구니 생성 및 조회
      description: 게스트의 장바구니 목록을 가져옵니다.
      operationId: getCartsForGuestUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: cartItemRequests
          description: cartItemRequests
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CartItemRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CartResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/guest/orders/{orderNo}':
    post:
      tags:
        - '[Guest] > Order'
      summary: 비회원 주문 상세조회(패스워드로)
      description: '주문번호, 패스워드로 상세 데이터 조회합니다.'
      operationId: guestDetailUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: orderNo
          in: path
          description: 주문번호
          required: true
          type: string
        - in: body
          name: guestOrderRequest
          description: guestOrderRequest
          required: true
          schema:
            $ref: '#/definitions/GuestOrderRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserOrderDetail'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/guest/orders/{orderNo}/forgot-password':
    get:
      tags:
        - '[Guest] > Order'
      summary: 비회원 주문 패스워드 재전송
      description: >-
        패스워드를 분실한 사용자가 주문번호를 이용해 패스워드를 초기화하여 주문시 입력한 e-mail로 초기화된 패스워드를
        전달받습니다(for US)
      operationId: guestForgotPasswordUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: orderNo
          in: path
          description: 주문번호
          required: true
          type: string
        - name: replyType
          in: query
          description: 비밀번호 받을 방식
          required: true
          type: string
          enum:
            - EMAIL
            - SMS
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserOrderDetail'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /inquiries:
    get:
      tags:
        - '[Profile] > Inquiry'
      summary: '1:1 문의내역 조회'
      description: '회원의 1:1 문의내역 조회'
      operationId: getInquiriesUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InquiriesResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Profile] > Inquiry'
      summary: '1:1 문의 등록'
      description: '1:1 문의 등록 (비회원 등록 시에는 email 입력 필요)'
      operationId: addInquiryUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/InquiryAddRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InquiryKeyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /kcp-certification/member:
    post:
      tags:
        - '[Profile] > KCPCertification'
      summary: KCP 본인인증 요청
      description: KCP 본인인증 요청
      operationId: requestKcpMallCertificationUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/KcpMemberCertificationApiRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KcpMemberCertificationTransferForm'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /kcp-certification/member/result-decrypt:
    get:
      tags:
        - '[Profile] > KCPCertification'
      summary: KCP 본인인증 결과 복호화 요청
      description: KCP 본인인증 결과 복호화 요청
      operationId: requestKcpMallCertificationResultDecryptionUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: query
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KcpCertificationResult'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /oauth/login-url:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: OpenId 로그인 url 조회
      description: OpenId 로그인 url 조회 (개발중입니다 사용하지 마세요)
      operationId: getLoginUrlUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: provider
          in: query
          description: provider
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LoginUrlResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /oauth/openid:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: OpenId AccessToken 발급
      description: OpenId 회원의 AccessToken 발급
      operationId: openIdLoginUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: code
          in: query
          description: OpenId 인증 후 발급받은 code
          required: false
          type: string
        - name: openAccessToken
          in: query
          description: 외부 Open Id 서비스의 AccessToken
          required: false
          type: string
        - name: sessionKey
          in: query
          description: Url 조회 시 발급된 SessionKey (Payco 미사용)
          required: false
          type: string
        - name: provider
          in: query
          description: provider
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AccessTokenResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /oauth/token:
    post:
      tags:
        - '[Profile] > Authentication'
      summary: AccessToken 발급
      description: NCP 회원의 AccessToken 발급
      operationId: postAccessTokenUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: req
          description: req
          required: true
          schema:
            $ref: '#/definitions/UsernamePasswordRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AccessTokenResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - '[Profile] > Authentication'
      summary: AccessToken 반환
      description: 'AccessToken 만료 처리 (ncp, payco 회원 동일)'
      operationId: revokeTokenUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /openid/token:
    get:
      tags:
        - '[Profile] > Authentication'
      summary: OpenId 서비스 제공자의 AccessToken 조회
      description: OpenId 서비스 제공자의 AccessToken 조회
      operationId: getOpenIdTokenUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OpenAccessTokenResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /order-sheets:
    post:
      tags:
        - '[Order] > OrderSheet'
      summary: 주문서 생성
      description: >-
        주문를 진행할 상품정보를 전달합니다. 주문서 페이지 진입전에 실행합니다. 비회원 주문인 경우 accessToken을 null로
        보냅니다.
      operationId: issueUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: orderSheetRequest
          description: orderSheetRequest
          required: true
          schema:
            $ref: '#/definitions/OrderSheetRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderSheetKeyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/order-sheets/{orderSheetNo}':
    get:
      tags:
        - '[Order] > OrderSheet'
      summary: 주문서 가져오기
      description: 주문서 번호를 이용하여 주문상품정보를 가져옵니다. 비회원 주문인 경우 accessToken을 null로 보냅니다.
      operationId: getOrderSheetUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: orderSheetNo
          in: path
          description: 주문서 번호
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderSheetResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/order-sheets/{orderSheetNo}/calculate':
    post:
      tags:
        - '[Order] > OrderSheet'
      summary: 쿠폰 및 배송지 정보가 적용된 금액을 노출
      description: '쿠폰 및 배송비 계산이 적용된 주문서 금액을 계산합니다. 비회원 주문인 경우 accessToken을 null로 보냅니다. '
      operationId: applyCouponUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: calculationRequest
          description: calculationRequest
          required: true
          schema:
            $ref: '#/definitions/OrderSheetCalculationRequest'
        - name: orderSheetNo
          in: path
          description: orderSheetNo
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderSheetCouponApplyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/order-sheets/{orderSheetNo}/coupons':
    get:
      tags:
        - '[Order] > OrderSheet'
      summary: 적용할 수 있는 쿠폰 정보 조회
      description: 해당 주문에 적용할 수 있는 쿠폰을 조회합니다.
      operationId: availableCouponsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: orderSheetNo
          in: path
          description: orderSheetNo
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderSheetCouponResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/order-sheets/{orderSheetNo}/coupons/apply':
    post:
      tags:
        - '[Order] > OrderSheet'
      summary: 쿠폰적용금액 계산
      description: '쿠폰을 적용한 금액을 미리 계산하여 보여줍니다. '
      operationId: applyCouponUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: orderSheetNo
          in: path
          description: orderSheetNo
          required: true
          type: string
        - name: 'productCoupons[0].productNo'
          in: query
          required: false
          type: integer
          format: int32
        - name: 'productCoupons[0].couponIssueNo'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'productCoupons[0].plusCouponIssueNo'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'productCoupons[0].promotionCode'
          in: query
          required: false
          type: string
        - name: 'productCoupons[0].plusPromotionCode'
          in: query
          required: false
          type: string
        - name: cartCouponIssueNo
          in: query
          required: false
          type: integer
          format: int64
        - name: deliveryCouponIssueNo
          in: query
          required: false
          type: integer
          format: int64
        - name: promotionCode
          in: query
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderSheetCouponApplyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/order-sheets/{orderSheetNo}/coupons/calculate':
    post:
      tags:
        - '[Order] > OrderSheet'
      summary: 쿠폰적용금액 계산
      description: '쿠폰을 적용한 금액을 미리 계산하여 보여줍니다. '
      operationId: calculateCouponUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - name: orderSheetNo
          in: path
          description: orderSheetNo
          required: true
          type: string
        - name: 'productCoupons[0].productNo'
          in: query
          required: false
          type: integer
          format: int32
        - name: 'productCoupons[0].couponIssueNo'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'productCoupons[0].plusCouponIssueNo'
          in: query
          required: false
          type: integer
          format: int64
        - name: 'productCoupons[0].promotionCode'
          in: query
          required: false
          type: string
        - name: 'productCoupons[0].plusPromotionCode'
          in: query
          required: false
          type: string
        - name: cartCouponIssueNo
          in: query
          required: false
          type: integer
          format: int64
        - name: deliveryCouponIssueNo
          in: query
          required: false
          type: integer
          format: int64
        - name: promotionCode
          in: query
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderSheetCouponResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/confirm:
    post:
      tags:
        - '[Order] > payments'
      summary: 주문 확정 하기
      description: |-
        orderSheetNo는 주문서 번호 발급 API를 통해 전달 받은 값을 주셔야 합니다. 아래와 같이 실행해주세요.
        1. 주문예약 API 실행.
        2. 주문예약 api를 통해 전달받은 returnUrl로 이동
        3. PAYCO결제 창에 결제 정보 입력
        4. PAYCO결제창에서 결제 정보를 모두 입력하면 주문 예약 API에서 clientReturnUrl로 페이지가 자동으로 이동됨.
        5. clientReturnUrl에서 파라미터로 전달 받은 값을 확인하여 api값으로 입력.
      operationId: confirmUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - in: body
          name: confirmRequest
          description: confirmRequest
          required: true
          schema:
            $ref: '#/definitions/PaymentConfirmRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PayConfirmResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/extra-datas:
    get:
      tags:
        - '[Order] > payments'
      summary: 주문 추가 정보 조회
      description: 주문 추가 정보를 조회한다
      operationId: getOrderTempUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: orderSheetNo
          in: query
          description: orderSheetNo
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/inicis/redirect:
    post:
      tags:
        - '[Order] > payments'
      summary: 이니시스 리다이렉트 url
      description: 이니시스를 사용하는 경우 이니시스 결제 완료 후 리다이렉트를 위한 url
      operationId: inicisRedirectUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: orderSheetNo
          in: query
          description: orderSheetNo
          required: true
          type: string
        - name: resultCode
          in: query
          required: false
          type: string
        - name: resultMsg
          in: query
          required: false
          type: string
        - name: mid
          in: query
          required: false
          type: string
        - name: authToken
          in: query
          required: false
          type: string
        - name: authUrl
          in: query
          required: false
          type: string
        - name: netCancelUrl
          in: query
          required: false
          type: string
        - name: merchantData
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/kcp/confirm:
    post:
      tags:
        - '[Order] > payments'
      summary: KCP 주문 확정 하기
      description: |-
        orderSheetNo는 주문서 번호 발급 API를 통해 전달 받은 값을 주셔야 합니다. 아래와 같이 실행해주세요.
        1. 주문예약 API 실행.
        2. 주문예약 api를 통해 전달받은 returnUrl로 이동
        3. PAYCO결제 창에 결제 정보 입력
        4. PAYCO결제창에서 결제 정보를 모두 입력하면 주문 예약 API에서 clientReturnUrl로 페이지가 자동으로 이동됨.
        5. clientReturnUrl에서 파라미터로 전달 받은 값을 확인하여 api값으로 입력.
      operationId: kcpConfirmUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - in: body
          name: confirmRequest
          description: confirmRequest
          required: true
          schema:
            $ref: '#/definitions/KcpConfirmRequest'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KcpConfirmResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/kcp/mobile-confirm:
    get:
      tags:
        - '[Order] > payments'
      summary: KCP 모바일 주문 확정 조회
      description: >-
        주문 확정건에 대한 정보를 결제금액과 같은 정보를 조회합니다. 계좌이체, 가상계좌의 경우 발급된 계좌에 대한 정보도 얻을 수
        있습니다.
      operationId: kcpMobileConfirmUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: orderSheetNo
          in: query
          description: orderSheetNo
          required: true
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KcpConfirmResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/kcp/mobile-reserve:
    post:
      tags:
        - '[Order] > payments'
      summary: 모바일웹용 KCP 주문 예약 하기
      description: >-
        orderSheetNo는 주문서 번호 발급 API를 통해 전달 받은 값을 주셔야 합니다. 기본값으로 테스트 하실때는
        String으로 되어 있는 값들은 null로 변경해 주시고 clientParmas값은 앞뒤에 "을 삭제하시고 \기호를
        삭제해주세요.
      operationId: mobileReservationUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: provider
          in: header
          description: provider
          required: false
          type: string
        - in: body
          name: paymentRequest
          description: paymentRequest
          required: true
          schema:
            $ref: '#/definitions/OrderPaymentRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KcpMobileReserveResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/kcp/reserve:
    post:
      tags:
        - '[Order] > payments'
      summary: KCP 주문 예약 하기
      description: >-
        orderSheetNo는 주문서 번호 발급 API를 통해 전달 받은 값을 주셔야 합니다. 기본값으로 테스트 하실때는
        String으로 되어 있는 값들은 null로 변경해 주시고 clientParmas값은 앞뒤에 "을 삭제하시고 \기호를
        삭제해주세요.
      operationId: reservationUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: provider
          in: header
          description: provider
          required: false
          type: string
        - in: body
          name: paymentRequest
          description: paymentRequest
          required: true
          schema:
            $ref: '#/definitions/OrderPaymentRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PayReservationResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/payments/kcp/confirm-deposit:
    post:
      tags:
        - '[Order] > payments'
      summary: KCP 가상계좌 입금 처리
      description: 가상계좌 입금 완료되면 KCP 서버가 우리측으로 결제완료 알림을 보내준다
      operationId: confirmKcpNoAccountUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: kcpVirtualAccountNotification
          description: kcpVirtualAccountNotification
          required: true
          schema:
            $ref: '#/definitions/KcpVirtualAccountNotification'
        - name: clientId
          in: header
          description: clientId
          required: false
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/reserve:
    post:
      tags:
        - '[Order] > payments'
      summary: 주문 예약 하기
      description: >-
        orderSheetNo는 주문서 번호 발급 API를 통해 전달 받은 값을 주셔야 합니다. 기본값으로 테스트 하실때는
        String으로 되어 있는 값들은 null로 변경해 주시고 clientParmas값은 앞뒤에 "을 삭제하시고 \기호를
        삭제해주세요.
      operationId: paymentUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - in: body
          name: paymentRequest
          description: paymentRequest
          required: true
          schema:
            $ref: '#/definitions/OrderPaymentRequest'
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PayReservationResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /payments/stripe/cards:
    get:
      tags:
        - '[Order] > payments'
      summary: get card list
      description: get card list(미국몰 전용)
      operationId: cardsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/StripeCard'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/payments/stripe/cards/{cardId}':
    delete:
      tags:
        - '[Order] > payments'
      summary: delete card
      description: delete card(미국몰 전용)
      operationId: deleteCardUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: accessToken
          in: header
          description: accessToken
          required: false
          type: string
        - name: cardId
          in: path
          description: cardId
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            type: object
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/payments/{pgType}/confirm-deposit/orders/{orderNo}':
    post:
      tags:
        - '[Order] > payments'
      summary: 무통장 입금 처리
      description: 외부 PG사에서 무통장입금이 완료되면 우리측으로 결제완료를 알려주는 api
      operationId: confirmNoAccountUsingPOST
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - '*/*'
      parameters:
        - name: pgType
          in: path
          description: pgType
          required: true
          type: string
        - name: orderNo
          in: path
          description: orderNo
          required: true
          type: string
        - name: response
          in: formData
          description: response
          required: false
          type: string
        - name: message
          in: formData
          description: message
          required: false
          type: string
        - name: code
          in: formData
          description: code
          required: false
          type: string
        - name: entity
          in: formData
          description: entity
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: false
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
      responses:
        '200':
          description: OK
          schema:
            type: string
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  /products:
    get:
      tags:
        - '[Product]'
      summary: 상품 목록
      description: 상품 목록 조회 with paging
      operationId: 상품 목록 조회
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: filter.discountedPrices
          in: query
          description: '판매가 - 즉시할인 - 추가상품할인이 적용된 "최종 할인가격", between검색일 경우 입력값 2개 필요'
          required: false
          type: array
          items:
            type: number
          collectionFormat: multi
        - name: filter.discountedComparison
          in: query
          description: 최종 할인가격 검색 조건
          required: false
          type: string
          enum:
            - LT
            - LTE
            - GT
            - GTE
            - EQ
            - BT
        - name: order.by
          in: query
          description: >-
            POPULAR:판매인기순(검색엔진 도입), SALE_YMD:판매일자, DISCOUNTED_PRICE:가격순,
            REVIEW:상품평
          required: false
          type: string
          enum:
            - POPULAR
            - SALE_YMD
            - DISCOUNTED_PRICE
            - REVIEW
        - name: order.direction
          in: query
          description: '정렬기준(default : DESC)'
          required: false
          type: string
          enum:
            - ASC
            - DESC
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: categoryNo
          in: query
          description: 카테고리 번호
          required: false
          type: integer
          format: int32
        - name: brandNo
          in: query
          description: 브랜드 번호
          required: false
          type: integer
          format: int32
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProductsResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/inquiries/{inquiryNo}':
    put:
      tags:
        - '[Product] > Inquiry'
      summary: 상품문의 수정
      description: '상품문의 수정하기<br/>- 작성자 본인만 가능<br/>- 제목,내용,문의유형만 수정 가능'
      operationId: modifyProductInquiryUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: inquiryRequest
          description: 상품문의 입력 객체
          required: false
          schema:
            $ref: '#/definitions/ProductInquiryEditRequest'
        - name: inquiryNo
          in: path
          description: 상품문의 번호
          required: true
          type: integer
          format: int32
        - name: accessToken
          in: header
          description: accessToken(필수)
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InquiryKeyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    delete:
      tags:
        - '[Product] > Inquiry'
      summary: 상품문의 삭제
      description: 상품품문의 삭제<br/>- 작성자 본인만 가능
      operationId: removeProductInquiryUsingDELETE
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: inquiryNo
          in: path
          description: 상품문의 번호
          required: true
          type: integer
          format: int32
        - name: accessToken
          in: header
          description: accessToken(필수)
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InquiryKeyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/{productNo}':
    get:
      tags:
        - '[Product]'
      summary: 상품 상세
      description: '해당 상품 번호에 대한 상세, 이미지, 옵션 정보를 조회'
      operationId: 상품 상세 조회
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: productNo
          in: path
          description: 상품번호
          required: true
          type: integer
          default: 100398947
          format: int32
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProductDetailResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/{productNo}/inquiries':
    get:
      tags:
        - '[Product] > Inquiry'
      summary: 상품문의 목록
      description: 상품번호(로그인 했을 경우 맴버번호 추가)로 상품문의 목록을 조회 한다 with paging
      operationId: getProductInquiriesByProductNoUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: productNo
          in: path
          description: 상품번호
          required: true
          type: integer
          default: 100398947
          format: int32
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: accessToken
          in: header
          description: accessToken(로그인 상태일 경우만)
          required: false
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProductInquiriesResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Product] > Inquiry'
      summary: 상품문의 등록
      description: 상품문의 등록<br/>(재문의인 경우에만 parentNo를 전송할 것)
      operationId: addProductInquiryUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: inquiryRequest
          description: 상품문의 입력 객체
          required: false
          schema:
            $ref: '#/definitions/ProductInquiryAddRequest'
        - name: productNo
          in: path
          description: 상품번호
          required: true
          type: integer
          default: 100398947
          format: int32
        - name: accessToken
          in: header
          description: accessToken(필수)
          required: true
          type: string
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InquiryKeyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/{productNo}/options':
    get:
      tags:
        - '[Product]'
      summary: 옵션 조회
      description: '2가지 옵션목록을 제공(계층, 원본)'
      operationId: 상품번호로 옵션을 조회한다
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: productNo
          in: path
          description: 상품번호
          required: true
          type: integer
          default: 100398947
          format: int32
        - name: clientId
          in: header
          description: clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OptionResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/{productNo}/product-reviews':
    get:
      tags:
        - '[Product] > Review'
      summary: 상품평 목록
      description: |-
        몰 상품 별 상품평 목록 가져오기 (페이징)
         * 파일 첨부 유무
        (Y = 파일 첨부 / N = 파일 미첨부 / 빈값 = ALL)
      operationId: 상품평 목록
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: productNo
          in: path
          description: 상품 번호
          required: true
          type: integer
          format: int32
        - name: pageNumber
          in: query
          description: 페이지 번호
          required: false
          type: integer
          format: int32
        - name: pageSize
          in: query
          description: 한 페이지당 노출 수
          required: false
          type: integer
          format: int32
        - name: hasTotalCount
          in: query
          description: '목록 카운트 포함 여부(default: false)'
          required: false
          type: boolean
        - name: attachYn
          in: query
          description: 파일 첨부 유무
          required: false
          type: string
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ReviewsResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
    post:
      tags:
        - '[Product] > Review'
      summary: 상품평 입력
      description: '상품평 입력 (response : 저장된 상품평 번호)'
      operationId: 상품평 입력
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: productNo
          in: path
          description: 상품 번호
          required: true
          type: integer
          format: int32
        - name: accessToken
          in: header
          description: accessToken
          required: true
          type: string
        - in: body
          name: reviewForm
          description: reviewForm
          required: true
          schema:
            $ref: '#/definitions/ReviewForm'
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ReviewKeyResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/{productNo}/product-reviews/rating':
    get:
      tags:
        - '[Product] > Review'
      summary: 상품평 평점 가져오기
      description: 몰 상품별 상품평 평점 조회
      operationId: 상품평 평점 가져오기
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: productNo
          in: path
          description: 상품 번호
          required: true
          type: integer
          format: int32
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ReviewRateResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
        '500':
          description: 서버 오류
  '/products/{productNo}/product-reviews/{reviewNo}':
    get:
      tags:
        - '[Product] > Review'
      summary: 상품평 상세 가져오기
      description: 상품평 상세 조회
      operationId: 상품평 상세 가져오기
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clientId
          in: header
          description: NCP clientId
          required: true
          type: string
          default: f7IuuZPHwmc7hGfGmbhHog==
        - name: reviewNo
          in: path
          description: 상품평 번호
          required: true
          type: integer
          format: int32
        - name: productNo
          in: path
          description: 상품 번호
          required: true
          type: integer
          format: int32
        - name: Version
          in: header
          required: true
          type: string
          default: '1.0'
          enum:
            - '1.0'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ReviewResponse'
        '201':
          description: 생성 완료
        '204':
          description: 성공-본문없음
        '400':
          description: 유효성 검증 오류
        '401':
          description: 인증 필요
        '404':
          description: '존재하지 않는 API '
[...]
