/* aside_menu */
.aside_menu {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 30rem;
  height: 100%;
  background: rgb(255,255,255);
}

.aside_menu.filter_menu {
  left: auto;
  right: 0;
}

.aside_menu_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.aside_menu_top {
  position: relative;
  padding: 0 1.5rem;
  height: 5rem;
  background: var( --theme-color );
}

.aside_menu_top > h3 {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: -0.04em;
  line-height: 5rem;
  color: rgb(255,255,255);
}

.aside_menu_top > h3 > strong {
  font-weight: 500;
}

.aside_menu_top .btn_close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  text-indent: -9999px;
  width: 5rem;
  height: 5rem;
  background: url("../assets/images/btn/btn_close_wh.png") no-repeat 50% 50%;
  background-size: 1.5rem;
}

.aside_menu_inner .aside_menu_title {
  margin: 0;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: -0.04rem;
}

@-webkit-keyframes asideAction {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes asideAction {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes asideActionRtl {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes asideActionRtl {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* category_aside_menu */
#header.is_open .category_aside_menu {
  display: block;
  -webkit-animation: asideActionRtl 0.3s ease;
  animation: asideActionRtl 0.3s ease;
}

#header.is_open .category_aside_menu + .aside_menu_bg {
  display: block;
}

.sub_category > li {
  position: relative;
}

.sub_category > li > a {
  display: block;
  padding: 0.5rem 0;
  margin: 0 1.5rem;
  line-height: 4.1rem;
}

.sub_category > li > a {
  display: block;
  position: relative;
}

.sub_category > li > a:before, .sub_category > li > a:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 1.06066rem;
  height: 0.1rem;
  background-color: rgb(170,170,170);
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 0;
}

.sub_category > li > a:before {
  right: 0.7rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sub_category > li > a:after {
  right: 0rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sub_category > li + li > a {
  border-top: 1px solid rgb(221,221,221);
}

.sub_category > li.is_active {
  background: #000;
  background: rgb(249,249,249);
}

.sub_category > li.is_active > a {
  border-top: 0;
}

.sub_category > li.is_active > a::before, .sub_category > li.is_active > a::after {
  background-color: rgb(121,121,121);
}

.sub_category > li.is_active > a:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sub_category > li.is_active > a:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sub_category > li.is_active + li > a {
  border-top: 0;
}

.sub_category > li.is_active .sub_category_2 {
  display: block;
}

.sub_category_2 {
  display: none;
  padding: 1.5rem 1.5rem 1rem;
  background: rgb(255,255,255);
}

.sub_category_2 > h3 {
  display: block;
  margin-bottom: -1px;
  border: 1px solid rgb(221,221,221);
}

.sub_category_2 > h3 > a {
  position: relative;
  display: block;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.85rem;
  letter-spacing: -0.01rem;
  color: var( --theme-color );
}

.sub_category_2 > h3 > a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 0.6rem;
  height: 1.05rem;
  background: url("../assets/images/btn/btn_more.png") no-repeat 0 0;
  background-size: 0.6rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sub_category_2 > ul {
  position: relative;
  overflow: hidden;
  background: rgb(249,249,249);
  border-left: 1px solid rgb(221,221,221);
  border-top: 1px solid rgb(221,221,221);
}

.sub_category_2 > ul:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgb(221,221,221);
}

.sub_category_2 > ul > li {
  float: left;
  width: 50%;
  padding-left: 1.5rem;
  border-right: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(221,221,221);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 3.9rem;
  letter-spacing: -0.01em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* filter_category */
.filter_category {
  padding-bottom: 4.5rem;
  border-top: 1px solid rgb(221,221,221);
}

.filter_category > li > a {
  position: relative;
  display: block;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  line-height: 4.4rem;
  letter-spacing: -0.04em;
  background: rgb(249,249,249);
  border-bottom: 1px solid rgb(221,221,221);
}

.filter_category > li.no_depth > a:after, .filter_category > li.no_depth > a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.7rem;
  width: 0.8rem;
  height: 0.1rem;
  background-color: rgb(170,170,170);
}

.filter_category > li.no_depth > a:before {
  margin-top: -0.3rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter_category > li.no_depth > a:after {
  margin-top: 0.2rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter_category > li.is_depth2 > a {
  display: block;
  position: relative;
}

.filter_category > li.is_depth2 > a:before, .filter_category > li.is_depth2 > a:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 0.84853rem;
  height: 0.1rem;
  background-color: rgb(170,170,170);
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 0;
}

.filter_category > li.is_depth2 > a:before {
  right: 2.05rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter_category > li.is_depth2 > a:after {
  right: 1.5rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter_category > li.is_depth2.is_active > a::before, .filter_category > li.is_depth2.is_active > a::after {
  background-color: rgb(121,121,121);
}

.filter_category > li.is_depth2.is_active > a:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter_category > li.is_depth2.is_active > a:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter_category > li.is_depth2.is_active .filter_category_2 {
  display: block;
}

.filter_category_2 {
  position: relative;
  display: none;
}

.filter_category_2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(221,221,221);
}

.filter_category_2 ul {
  padding: 0 0 0 1.5rem;
}

.filter_category_2 ul > li:not(:first-child) {
  border-top: 1px solid rgb(221,221,221);
}

.filter_category_2 ul > li a {
  display: block;
  font-size: 1.2rem;
  line-height: 4rem;
  letter-spacing: -0.01rem;
}

.filter_category_2 ul > li a.is_curr {
  color: var( --theme-color );
}

.filter_btn_box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 30rem;
}

.filter_btn_box > a {
  float: left;
  width: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 4.5rem;
  text-align: center;
}

.filter_btn_box .reset span {
  display: inline-block;
  padding-left: 2.5rem;
  background: url("../assets/images/btn/btn_reset_wh.png") no-repeat 0 50%;
  background-size: 1.4rem;
}

/* filter */
.filter_box {
  height: 4rem;
  margin-top: 0.75rem;
  background: rgb(255,255,255);
  border-top: 1px solid rgb(221,221,221);
  -webkit-box-shadow: 0 1px 1px rgb(221,221,221);
  box-shadow: 0 1px 1px rgb(221,221,221);
  margin-bottom: 1px;
}

#contents.search_contents .filter_box {
  position: fixed;
  width: 100%;
  left: 0;
  top: 5rem;
  z-index: 9993;
}
#contents.search_contents .filter_box:before {
  content: '';
  width: 100%;
  height: 0.75rem;
  position: absolute;
  background-color: rgb(243,243,243);
  top: -0.85rem;
  left: 0;
  z-index: 0;
}

.filter_box:after {
  display: block;
  content: '';
  clear: both;
}

.filter_view {
  float: left;
  padding-left: 1.5rem;
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 4rem;
}

.filter_view > strong {
  font-family: "Helvetica-Regular", Arial, sans-serif;
}

.filter_sort {
  float: right;
}

.filter_sort > div {
  float: left;
  border-left: 1px solid rgb(221,221,221);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter_sort .sort_select {
  position: relative;
  width: 7rem;
  z-index: 77;
}

.filter_sort .sort_select > a {
  display: block;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: -0.01em;
  text-align: center;
  line-height: 4rem;
}

.filter_sort .sort_select > a span {
  padding-left: 1.8rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image: url("../assets/images/btn/btn_sort_select.png");
  background-size: 1.25rem;
}

.filter_sort .sort_select > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 11.6rem;
  border: 1px solid var( --theme-color );
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgb(255,255,255);
}

.filter_sort .sort_select > ul:before {
  content: '';
  position: absolute;
  top: -1.1rem;
  right: 3rem;
  width: 1rem;
  height: 1.1rem;
  background: url("../assets/images/sub/bg_tooltip.png") no-repeat 0 0;
  background-size: 1rem;
}

.filter_sort .sort_select > ul > li a {
  display: block;
  padding: 0 1.3rem;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: -0.01rem;
  line-height: 3.8rem;
}

.filter_sort .sort_select > ul > li a.is_curr {
  position: relative;
  color: var( --theme-color );
}

.filter_sort .sort_select > ul > li a.is_curr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: -0.2rem;
  display: block;
  width: 0.35rem;
  height: 0.7rem;
  border-style: solid;
  border-color: var( --theme-color );
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.filter_sort .sort_select > ul > li + li {
  border-top: 1px solid rgb(221,221,221);
}

.filter_sort .sort_select.is_open > a {
  color:  var( --theme-color );
}

.filter_sort .sort_select.is_open > a span {
  background-image: url("../assets/images/btn/btn_sort_select_on.png");
}

.filter_sort .sort_select.is_open > ul {
  display: block;
}

.filter_sort .sort_type {
  width: 4.5rem;
}

.filter_sort .sort_type > a {
  display: block;
  height: 4rem;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter_sort .sort_type .list {
  background-image: url("../assets/images/sub/ico_sort_list.png");
  background-size: 1.5rem;
}

.filter_sort .sort_type .card {
  background-image: url("../assets/images/sub/ico_sort_card.png");
  background-size: 1.4rem;
}

.filter_sort .sort_search > a {
  display: block;
  width: 7.2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-weight: 500;
}

.filter_sort .sort_search.is_open .aside_menu {
  display: block;
  -webkit-animation: asideActionRtl 0.3s ease;
  animation: asideActionRtl 0.3s ease;
}

.filter_sort .sort_search.is_open .aside_menu_bg {
  display: block;
}
